  
           <div class="box">
          <form action="/users/register" method="POST">
                <ul class="user-box"> 
                <li>
                  {{sendMailFeedback}}
                        <label for="name"></label>
                        <input type="text" name="name" id="name" placeholder="Nombre"  autofocus value="{{formData.name}}">
                    </li>
                    <li>
                     <label for="lastName"></label>
                        <input type="text" name="lastName" id="lastName" placeholder="Apellido" value="{{formData.lastName}}" >
                    </li>
                     <li>
                        <label for="email"></label>
                        <input type="email" name="email"  id="email" placeholder="Email" value="{{formData.email}}">
                     </li>
                    <li>
                        <label for="pass"></label>
                        <input type="password"  name="pass" id="pass" placeholder="Contraseña" >
                     </li>
                       <li>
                        <label for="message"></label>
                        <textarea name="message" id="message" cols="30" rows="10"></textarea>
                     </li>
                     </ul>
                     {{#if message}}

                      <div>
                    {{message}}
                      </div>
                    {{/if}}
                    {{#each arrWarnings}}
                    <p>{{ msg }}</p>
                    {{/each}}
                     <div class="user-box">   
                        <label for="submit"></label>
                        <input type="submit" class="submit" value="Registrese">
                        <a href="/users/login" class="submit">Volver al Login</a>
                    </form>
                     </div>
          


